<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new Book</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
        <a href="/" class="logo">Bookstore</a>
        <nav>
          <ul class="center">
            <li><a href="/" class="menu-btn">Home</a></li>
            <li><a href="/books" class="menu-btn">All-books</a></li>
            <li><a href="/books/fiction/category" class="menu-btn">Fiction</a></li>
            <li><a href="/books/technology/category" class="menu-btn">Technology</a></li>
            <li><a href="/books/adventure/category" class="menu-btn">Adventure</a></li>
            <li><a href="/books/motivation/category" class="menu-btn">Motivation</a></li>
            <li><a href="/books/new" class="menu-btn btn">Add book</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <section class="book-form-container">
        <div class="form-container">
          <form action="/books" method="POST">
            <input
              type="text"
              name="title"
              placeholder="Enter  the title here "
            />
            <textarea
              name="summary"
              cols="30"
              rows="5"
              placeholder="Add a summary.."
            ></textarea>
            <input type="number" name="pages" placeholder="number of pages" />
            <input
              type="text"
              name="publication"
              placeholder="publication name here "
            />
            <input type="text" name="category" placeholder="category" />
            <input type="text" name="author" placeholder="author name here " />
            <div class="center">
              <input type="submit"  value="submit" class="btn " id="submit-btn">
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>